* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(to right, rgba(238, 138, 8, 0.87), rgba(6, 240, 220, 0.76));
  color: rgba(11, 78, 138, 0.726);

}

/*================typography==========================*/
.heading {
  text-align: center;
  font-weight: 700;
  margin: 1.5em 0;
}
#message {
  font-size: 2rem;
  font-family: cursive;
  background-color: rgba(199, 218, 200, 0.952);
  
}

#game p {
  font-size: 2em;
}


/*=================layout section======================== */
#game {
  text-align: center;
}
#guess {
min-width: 250px;
}


/*=============style the submit button*========================*/
#guess-btn {
  transition: all 1.5s ease;
  border:2px solid rgba(11, 78, 138, 0.726);
}
#guess-btn:hover {
    background-color: rgb(243, 237, 237);
    color:rgba(10, 10, 10, 0.699);
    font-size: 1.2rem;

}




/*class added for animation*/
.move {
  animation-name: move;
  animation-duration: .5s;
  animation-timing-function: ease-in;
}
/* animates the message after submit button is clicked*/

@keyframes move {
  from {
    transform:translateX(50%);
  }
  to{
    transform: translateX(0);
  }
}
